/* to do listtttt: 
Pagrindinis puslapis (doing)
MAKE A TIMETABLE PAGE
Github repozitorijoje turėtų matytis visų dirbančių darbas.
*/
body {
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%,rgb(23, 23, 23) 25%, rgb(23, 23, 23) 80%, rgb(0, 0, 0) 100%);
    /*background: linear-gradient(0degrgb(0, 0, 0)6) 0%, rgb(195, 195, 195) 20%, rgb(195, 195, 195) 90%, rgb(153, 127, 214) 100%);*/
    box-sizing: border-box; 
    margin: 0;
}

.uhhMainNavBar {
    background-color: rgb(195, 195, 195);
    height: 5rem;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;

    background: black;
    border: 2px rgba(255, 255, 255, 0.259) solid;
    border-bottom: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 0.2rem 1rem rgba(255, 255, 255, 0.527);
}

.junk{padding: 2% 10% 0% 0%;}
.fuckassIcon a img {margin: auto; max-width: 10rem; padding-top: 0.5rem;}
.junk a {
    -webkit-text-stroke: 0.5px rgba(193, 190, 190, 0.521);
    font-size: 150%; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: rgb(255, 252, 252);
    text-decoration: none;
    margin-left: 3rem;
}
.junk a:hover {
    color: rgba(255, 252, 252, 0.767);
}


.RANDOMJUNKKKKKKK {
    align-content: stretch;
    border: 5px rgba(0, 0, 0, 0.05) solid;
    margin: auto;
    text-align: center;
    padding-bottom: 3rem;
    min-height: 75rem;
}
.infooo1 {
    padding-top: 20%;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow: 0 0 1rem white;
    background-image: url(DANGDOGOGGG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20rem;
    margin: auto;
    width: 100%;
}


.SomeJunk {
    display: grid;
    grid-template-columns: 50% 50%;
}

.newsss{
    margin: 3rem 5% 0 10%;
    padding: 2rem;
    border: 3px rgba(255, 255, 255, 0.049) solid;
}
.NewsDescription {
    color: rgb(225, 225, 224);
    border-top: 3px rgba(255, 255, 255, 0.049) solid;
    height: 65%;
    margin: auto;
}
.sliderrr {
    background-image: url(DANGDOGOGGG.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 15rem;
    border: 3px rgba(255, 255, 255, 0.15) solid;
    box-shadow: 0 0 0.5rem rgba(255, 255, 255, 0.371);
}

.somehistoryjunk {
    border: 3px rgba(255, 255, 255, 0.049) solid;
    margin: 3rem 10% 0 5%;
    padding: 2rem;
}


.stojantiesiemsboogeraids{
    color: rgb(228, 224, 224);
    text-align: left;
    width: 75%;
    margin: auto;
    padding: 1rem;
    border: 2px rgba(255, 255, 255, 0.044) solid;
    box-shadow: 0 0.2rem 1rem rgba(255, 255, 255, 0.069);
    line-height: 1.5;
}
.stojantiesiemsboogeraids > .boogeraid1{border-top: 1px rgb(152, 151, 151) solid; border-bottom:1px rgb(152, 151, 151) solid;}
h2{text-shadow: 0 0 1rem rgba(255, 255, 255, 0.333);}
h1{text-align: center;}






.foot {
    color: rgb(225, 225, 224);
    background-color: rgb(195, 195, 195);
    height: 15rem;
    width: 100%;
    display: inline-block;
    line-height: 1rem;
    text-align: center;

    background: black;
    border: 2px rgba(255, 255, 255, 0.259) solid;
    border-top: 2px rgb(255, 255, 255) solid;
    box-shadow: 0 0.2rem 1rem rgba(255, 255, 255, 0.527);
}



h1, h2, h3, h4, h5, h6 {
    color: rgb(225, 225, 224);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
